<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.emma.mobilesafe"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".acitivity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".acitivity.HomeAcitivity"/>
        <activity
            android:name=".acitivity.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".acitivity.SetupOverActivity"
            android:label="@string/title_activity_setup_over"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".acitivity.Setup1Activity"/>
        <activity android:name=".acitivity.Setup2Activity"/>
        <activity android:name=".acitivity.Setup3Activity"/>
        <activity android:name=".acitivity.Setup4Activity"/>
        <activity android:name=".acitivity.ContactListActivity">
        </activity>
    </application>

</manifest>